html,body{
    margin: 0%;
    padding: 0%;
    background: #ffebcd;
    color: rgb(0, 0, 0);
}

:root{
    --font: 'Franklin Gothic Medium', 'Arial Narrow';
    --profile-bg : #68685e;
    --main-bg : #000;
    --profile-color: #c9d1d9;
    --profile-img-bd: #2e343d;
    --usernamefont-color:#ab949e;
    --usernamefont-weight:500;
    --btn_bg:#21262d;
    --btn_border:#373b43;
    --btn_border_hover:#94ecf2;
    --btn_bg_hover:#30363d;
    --btn_color:#ffebcd;
    
}

.container{
    width: 80%;
    min-width: 250px;
    max-width: 400px;
    margin: 2em auto;
    background: var(--profile-bg);

}

.content{
    padding: 1em 2em;
    
}

.content img{
    max-width: 100%;
    border-radius: 50%;
    border: 2px solid var(--profile-img-bd);

}

.details button{
    width: 100%;
    background-color: var(--btn_bg);
    color: var(--btn_color);
    border: 4px var(--btn_border);
    border-radius: 8px;
    padding: .3em 0;
}

.details button:hover{
    background: var(--btn_bg_hover);
    border-color: var(--btn_border_hover);
}
